<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">

        <mat-list>
            <mat-list-item routerLink="/">HOME</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/cv">CV</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/skills">SKILLS</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/projects">PROJECTS</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/blog">BLOG</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/contact">CONTACT</mat-list-item>
        </mat-list>

    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <span>Protfolio</span>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>